.lms-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 2px solid rgb(202, 202, 202);
  background-color: white;
  color: rgb(0, 48, 110);
  font-weight: bold;
}